.container{
    font-size: 25px;
}
.exemplo01{
    font-size:  3em;
}
.exemplo02{
    font-size: 3em;
}
.exemplo03{
    font-size: 5em;
}
    body {
    background: url("https://img.elo7.com.br/product/zoom/2E6BF19/stitch-havai-biscuit.jpg");
}
body {
    background: rgb(rgb(183, 0, 255), green, blue);
    background: linear-gradient(50deg), rgba(249,225,238,1) 10%, rgba(198,231,249,1) 100%);
}