.container{
    font-size: 25px;
}
.exemplo01{
    font-size:  30px;
}
.exemplo02{
    font-size: 20px;
}
.exemplo03{
    font-size:15px;
}
    body {
    background: url("https://img.elo7.com.br/product/zoom/2E6BF19/stitch-havai-biscuit.jpg");
}
body {
    background: rgb(rgb(183, 0, 255), rgb(217, 255, 0), rgb(255, 0, 0));
    background: linear-gradient(50deg, rgb(255, 0, 136) 10%, rgb(0, 166, 255), 100%);
}

p.dotted {border-style: dotted}
p.dashed {border-style: dashed}
p.solid {border-style: solid}
p.double {border-style: double}
p.groove {border-style: groove}
p.ridge {border-style: ridge}
p.inset {border-style: inset}
p.outset {border-style: outset}
p.none {border-style: none}
p.hidden {border-style: hidden}
p.mix {border-style: dotted dashed solid double}

body {
    display: flex;
    flex-direction: row;
}



