body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    border-radius: 100px;
}
.Sol{
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 0, 0);
    justify-content: center;
    align-items: center;
}
.retangulo{
    display: flex;
    position: relative;
    top: 350px;
    background-color: rgb(47, 47, 54);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
}
.texto-grande{
    font-size: 50px;
}
.texto-medio{
    font-size: 30px;
}
.texto-pequeno{
    font-size: 15px;
}