
*{
    margin: 0 ;
}body{
    background-color: rgb(106, 197, 209);
    display: flex;
    justify-content: center;
    border-radius: 100px;
}
.Sol{
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 57, 57);
    justify-content: center;
    align-items: center;
}
.retangulo{
    display: flex;
    position: relative;
    top: 350px;
    background-color: rgb(59, 59, 87);
    color: rgb(156, 75, 194);
    border-radius: 20px;
    padding: 20px;
    gap: 50px;
}
.texto-grande{
    font-size: 50px;
}
.texto-medio{
    font-size: 30px;
}
.texto-pequeno{
    font-size: 15px;
} 
.vento{
    display: flex;
    margin-top: 20px;
}
.espaco{
   margin-top: 30px;
} 