body {
    background: linear-gradient(rgb(255, 0, 234),rgb(255, 0, 0));
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    background-color: aquamarine;
    align-items: center;
}
.flex{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.laco{
    background-color: rgb(161, 19, 218);
    border-radius: 100px;
    margin: 0 auto;
    overflow: hidden;
}
.minhapagina{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-block-end: 50px;
}
