body {
    background: linear-gradient(rgb(255, 0, 234),rgb(255, 0, 0));
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    background-color: aquamarine;
    align-items: center;
    position: relative;

}
.flex{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.laco{
    position: absolute;
    background-color: rgb(218, 19, 128);
    border-radius: 100px;
    margin: 0 auto;
    overflow: hidden;
    top: -35px;
    padding: 10px;
}
.minhapagina{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-block-end: 50px;
}
button{
    background-color: rgb(226, 43, 119);
}
