body{
    color: #333333;
    font-family:"Lucida Sans Unicode","Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;           
}
h1 {
    font-family: serif;
    background-image:url(../img/sobre-background.jpg)
}
h2{
    border-bottom: 2px solid #ff0000;
}
p {
    font-family: monospace;
    line-height: 16px;
    letter-spacing: 3px;
    word-spacing: 5px;
    text-indent: 30px;
}
figure {
    background-color: #F2EDED;
    border: 10px groove #ccc;
    text-align: center;
}
figcaption {
    font-family: italic;
}
p{
    padding: 30px  5px  12px 0;
}